.react-pdf__Page{
    border: solid;
}
.mainPdfDiv{
    border: solid yellow;
    height: 500px;
    width: 500px;
    overflow: scroll;
}   
.innerMain{
    width: 100%;
    height: 100%;
}
.react-pdf__Page__canvas{
    /* border: solid 1px;
    height: 350px !important;
    width: 350px !important; */
}